@import "tailwindcss";

* {
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  background-color: black;
  color: white;
  overscroll-behavior: none;
  height: 100%;
}

#game-container {
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

canvas {
  display: block;
  margin: 0 auto;
  background-color: #111;
  position: fixed;
  touch-action: none;
}
